server {
  listen 80;

  location / {
    return 308 https://$host:${PROD_SIM_HTTPS_PORT}$request_uri;
  }
}

server {
  listen 443 ssl;
  ssl_certificate /etc/nginx/prod-sim-certs/server.crt;
  ssl_certificate_key /etc/nginx/prod-sim-certs/server.key;

  location / {
    proxy_pass http://web:8080;
    proxy_set_header Host $http_host;
    proxy_set_header X-Forwarded-Host $http_host;
    proxy_set_header X-Forwarded-For $remote_addr;
    proxy_set_header X-Forwarded-Proto https;
  }
}
